<nav class="navbar navbar-expand-md bg-dark navbar-dark  shadow">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav navbar-nav mr-auto">
      <li class="nav-item">
       <a href="/adminhome/" class="nav-link "> Admin Home</a>   
      </li>
      <li class="nav-item">
         <a href="/addmoderator/"  class="nav-link "> Add Moderator</a> 
      </li>
       <li class="nav-item">
         <a href="/postarticles/"  class="nav-link "> Post Articles</a>  
      </li>   
      <li class="nav-item">
 <a href="/deletemember/"  class="nav-link "> Delete Member</a>  
      </li>   
      <li class="nav-item">
              <a href="/adminlogout/"  class="nav-link "> Logout</a>  
      </li>   
     </ul>
  </div>  
</nav>
