<html>
<head>
   <meta charset="UTF-8">
    <title>Moderator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #99ccff;" class="container-flex">
{% include 'logo.html' %}
{% include 'adminmenu.html' %}
<h3 align="center" class="bg-light m-3 p-3" >
    <font color="black" > Members details </font>
</h3>
 <div class="table-responsive bg-light rounded p-3">

            <table class="table table-dark  table-bordered table-striped  ">
        <tr> <th> MEMBER ID</th>
            <th> MEMBER NAME</th>
            <th> EMAIL ID</th>
            <th> ADDRESS</th>
            <th> MOBILE NUMBER</th>
            <th> Delete</th>
        </tr>
        {% for x in object_list %}
           <tr>
               <td> {{ x.member_id }}</td>
               <td> {{ x.member_name }}</td>
               <td> {{ x.email_id }}</td>
               <td> {{ x.address }}</td>
               <td> {{ x.mobile_num }}</td>
               <td>
{#                   <a href="/deletemember/?mid={{ x.member_id }}">DELETE</a>#}
                   <form action="/deletememberid/" method="post">
                       {% csrf_token %}
                       <input type="hidden" value="{{ x.member_id}}" name="mid">
                       <input type="submit" value="DELETE" class="btn btn-danger">
                   </form>
                </td>
            </tr>
        {% endfor %}
    </table>
  </div>
</body>
</html>