
<nav class="navbar navbar-expand-md bg-dark navbar-dark  shadow">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav navbar-nav mr-auto">
      <li class="nav-item">
       <a href="/home/"  class="nav-link "> Home </a> 
      </li>
      <li class="nav-item">
        <a href="/adminlogin/"  class="nav-link "> Admin </a> 
      </li>
      <li class="nav-item">
       <a href="/moderatorlogin/" class="nav-link "> Moderator </a>
      </li>
       <li class="nav-item">
        <a href="/member/"  class="nav-link "> Members </a>
      </li>   
      </li>
       <li class="nav-item">
        <a href="/guest/"  class="nav-link "> Guest </a>
      </li>   
     </ul>
  </div>  
</nav>

